{% extends "base.html" %}

{% block content %}
<div class="columns">
    <div class="column is-one-fifth">
        <aside class="menu">
            <p class="menu-label">
                General
            </p>
            <ul class="menu-list">
                <li><a>Profile</a></li>
                <li><a>Linked Apps</a></li>
            </ul>
        </aside>
    </div>
    <div class="column">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li><a href="{{ url_for('main.profile') }}">Settings</a></li>
                <li class="is-active"><a href="{{ url_for('main.profile') }}" aria-current="page">Profile</a></li>
            </ul>
        </nav>
        Welcome, {{ user.name }}!
    </div>
</div>
{% endblock %}